* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Inter;
    font-size: 14px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    max-width: 380px;
}

.avatar {
    border-radius: 50%;
    width: 90px;
}

.name {
    font-weight: 700;
    margin-bottom: 10px;
}

.city {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 30px;
}

.description {
    font-weight: 400;
}

.infos {
    margin-bottom: 30px;
    margin-top: 25px;
}

a {
    display: block;
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);;
    font-weight: 700;
}

a:hover {
    background-color:hsl(75, 94%, 57%);
    color: black;
}

a:last-child {
    margin-bottom: 0;
}
